<!-- app/views/shared/_flash_messages.html.erb -->
<% if flash[:notice] %>
  <div class="flash-message alert-success">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="flash-message alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
